In [5]:
import pandas
import os
os.listdir()
df = pandas.read_csv('data.txt')
df

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [11]:
df["F"]= df.shape[0]*["Probsteistrasse 177A, 8051 Zurich"]
df

    A   B   C   D                                  F
0   1   2   3   4  Probsteistrasse 177A, 8051 Zurich
1   5   6   7   8  Probsteistrasse 177A, 8051 Zurich
2   9  10  11  12  Probsteistrasse 177A, 8051 Zurich
3  13  14  15  16  Probsteistrasse 177A, 8051 Zurich

In [28]:
from geopy.geocoders import ArcGIS
adress = df.iloc[0:1, 4:5]
nom = ArcGIS()
nom.geocode(adress)

Location(Probsteistrasse 177A, 8051, Zürich, (47.40033465368024, 8.585650878401475, 0.0))

In [38]:
df["Coord"]=df["F"].apply(nom.geocode)
df.Coord[0].latitude

47.40033465368024

In [44]:
df["Alt"]=df["Coord"].apply(lambda x:x.latitude)
df

,A,B,C,D,F,Coord,Alt
0,1,2,3,4,"Probsteistrasse 177A, 8051 Zurich","(Probsteistrasse 177A, 8051, Zürich, (47.40033...",47.400335
1,5,6,7,8,"Probsteistrasse 177A, 8051 Zurich","(Probsteistrasse 177A, 8051, Zürich, (47.40033...",47.400335
2,9,10,11,12,"Probsteistrasse 177A, 8051 Zurich","(Probsteistrasse 177A, 8051, Zürich, (47.40033...",47.400335
3,13,14,15,16,"Probsteistrasse 177A, 8051 Zurich","(Probsteistrasse 177A, 8051, Zürich, (47.40033...",47.400335